In [1]:
import re
import os
import requests
import pandas as pd
import glob
import zipfile

In [2]:
tmdb = pd.read_csv('../data/tmdb_movies.csv')

In [3]:
imdb = pd.read_csv('../data/imdb_dirty.csv',index_col=0)

In [4]:
imdb.columns = imdb.columns.str.strip().str.lower()

In [5]:
imdb = imdb.rename(columns={'tconst': 'imdb_id', 'averagerating': 'rating','numvotes': 'num_votes'})

In [6]:
mask = imdb['imdb_id'].isin(tmdb['imdb_id'])
imdb = imdb[mask]

In [7]:
imdb.reset_index(drop=True, inplace=True)

In [10]:
imdb

        imdb_id  rating  num_votes
0     tt0010323     8.0      66837
1     tt0011549     4.3         23
2     tt0012181     7.3         73
3     tt0012349     8.3     129753
4     tt0013046     5.4         14
...         ...     ...        ...
4765  tt9779516     6.5      12818
4766  tt9839038     6.2        728
4767  tt9844322     6.2       3809
4768  tt9844522     5.7      52680
4769  tt9877170     6.5      11375

[4770 rows x 3 columns]

In [8]:
imdb.to_csv('../data/imdb_ratings.csv')