In [28]:
import pandas as pd
import sqlalchemy as alch
from getpass import getpass
from sqlalchemy import create_engine, text
import ast

In [15]:
engine = create_engine('mysql+pymysql://root:saveus222@localhost')

with engine.connect() as connection:
    connection.execute(text("CREATE DATABASE IF NOT EXISTS movies"))

engine = create_engine('mysql+pymysql://root:saveus222@localhost/movies')

df = pd.read_csv("../data/tmdb_movies.csv")

df.to_sql('tmdb_movies', con=engine, if_exists='replace', index=False)

df1 = pd.read_csv("../data/imdb_ratings.csv")

df1.to_sql('imdb_rating', con=engine, if_exists='replace', index=False)

4770

In [2]:
import pandas as pd
import sqlite3  # Replace with the appropriate database connector if using a different DBMS

# Connect to the database
conn = sqlite3.connect('mysql+pymysql://root:saveus222@localhost')  # Replace with the actual database connection details

# Execute the query and fetch the result into a DataFrame
query = "SELECT * FROM tmdb_movies;"
df = pd.read_sql_query(query, conn)

# Export the DataFrame to a CSV file
df.to_csv('tmdb.csv', index=False)

OperationalError: unable to open database file

In [23]:
# Connect to the movies database
engine = create_engine('mysql+pymysql://root:saveus222@localhost/movies')

# Query the table and fetch the data into a DataFrame
df = pd.read_sql_table('tmdb_movies', con=engine)

# Save the DataFrame to a CSV file
df.to_csv('downloaded_tmdb_movies.csv',sep=';', index=False)

In [24]:
df

,Unnamed: 0,imdb_id,year,title,genres,productioncompanies,director,cast,budget,revenue,rating
0,0,tt0011549,1920,Over the Hill to the Poorhouse,"['Drama', 'Crime']",['Fox Film Corporation'],Harry F. Millarde,"['James Sheridan', 'Noel Tearle', 'William Wel...",100000,3000000,0.00
1,1,tt0010323,1920,The Cabinet of Dr. Caligari,"['Drama', 'Horror', 'Thriller', 'Crime']",['Decla Film Gesellschaft Holz & Co.'],Robert Wiene,"['Werner Krau√ü', 'Conrad Veidt', 'Friedrich Fe...",18000,8811,8.00
2,2,tt0012349,1921,The Kid,"['Comedy', 'Drama']",['Charles Chaplin Productions'],Charlie Chaplin,"['Charlie Chaplin', 'Jackie Coogan', 'Edna Pur...",250000,2500000,8.20
3,3,tt0012181,1921,Fool's Paradise,['Romance'],['Famous Players-Lasky Corporation'],Cecil B. DeMille,"['Dorothy Dalton', 'Conrad Nagel', 'Mildred Ha...",291367,901937,5.50
4,4,tt0013140,1922,Foolish Wives,"['Drama', 'Thriller']",['Universal Film Manufacturing Company'],Erich von Stroheim,"['Erich von Stroheim', 'Rudolph Christians', '...",1100000,400200,6.70
...,...,...,...,...,...,...,...,...,...,...,...
4787,4787,tt12261776,2023,65,"['Science Fiction', 'Thriller', 'Drama']","['Raimi Productions', 'Beck/Woods', 'Bron Stud...",Bryan Woods,"['Adam Driver', 'Ariana Greenblatt', 'Chloe Co...",45000000,55000000,6.21
4788,4788,tt15679400,2023,Knock at the Cabin,"['Horror', 'Thriller', 'Mystery']","['Blinding Edge Pictures', 'Universal Pictures...",M. Night Shyamalan,"['Dave Bautista', 'Jonathan Groff', 'Ben Aldri...",20000000,54708659,6.38
4789,4789,tt10098448,2023,Jesus Revolution,"['Drama', 'History']","['Lionsgate', 'Kingdom Story Company']",Brent McCorkle,"['Joel Courtney', 'Kelsey Grammer', 'Jonathan ...",15000000,52300000,7.13
4790,4790,tt5884796,2023,Plane,"['Action', 'Adventure', 'Thriller']","['MadRiver Pictures', 'di Bonaventura Pictures...",Jean-Fran√ßois Richet,"['Gerard Butler', 'Mike Colter', 'Yoson An', '...",25000000,51000000,6.89
4791,4791,tt0439572,2023,The Flash,"['Science Fiction', 'Action', 'Adventure']","['Warner Bros. Pictures', 'Double Dream', 'The...",Andy Muschietti,"['Ezra Miller', 'Sasha Calle', 'Michael Keaton...",190000000,245000000,6.69

In [25]:
print(df['cast'].iloc[0])

['James Sheridan', 'Noel Tearle', 'William Welsh', 'Stephen Carr', 'Mary Carr', 'Jerry Devine', 'Johnnie Walker', 'Wallace Ray']

In [29]:
df['cast'] = df['cast'].apply(ast.literal_eval)

# Now create the 'Actor 1' and 'Actor 2' columns as before
df['Actor 1'] = df['cast'].apply(lambda x: x[0] if len(x) > 0 else None)
df['Actor 2'] = df['cast'].apply(lambda x: x[1] if len(x) > 1 else None)

In [30]:
df

,Unnamed: 0,imdb_id,year,title,genres,productioncompanies,director,cast,budget,revenue,rating,Actor 1,Actor 2
0,0,tt0011549,1920,Over the Hill to the Poorhouse,"['Drama', 'Crime']",['Fox Film Corporation'],Harry F. Millarde,"[James Sheridan, Noel Tearle, William Welsh, S...",100000,3000000,0.00,James Sheridan,Noel Tearle
1,1,tt0010323,1920,The Cabinet of Dr. Caligari,"['Drama', 'Horror', 'Thriller', 'Crime']",['Decla Film Gesellschaft Holz & Co.'],Robert Wiene,"[Werner Krau√ü, Conrad Veidt, Friedrich Feh√©r, ...",18000,8811,8.00,Werner Krau√ü,Conrad Veidt
2,2,tt0012349,1921,The Kid,"['Comedy', 'Drama']",['Charles Chaplin Productions'],Charlie Chaplin,"[Charlie Chaplin, Jackie Coogan, Edna Purvianc...",250000,2500000,8.20,Charlie Chaplin,Jackie Coogan
3,3,tt0012181,1921,Fool's Paradise,['Romance'],['Famous Players-Lasky Corporation'],Cecil B. DeMille,"[Dorothy Dalton, Conrad Nagel, Mildred Harris,...",291367,901937,5.50,Dorothy Dalton,Conrad Nagel
4,4,tt0013140,1922,Foolish Wives,"['Drama', 'Thriller']",['Universal Film Manufacturing Company'],Erich von Stroheim,"[Erich von Stroheim, Rudolph Christians, Miss ...",1100000,400200,6.70,Erich von Stroheim,Rudolph Christians
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4787,4787,tt12261776,2023,65,"['Science Fiction', 'Thriller', 'Drama']","['Raimi Productions', 'Beck/Woods', 'Bron Stud...",Bryan Woods,"[Adam Driver, Ariana Greenblatt, Chloe Coleman...",45000000,55000000,6.21,Adam Driver,Ariana Greenblatt
4788,4788,tt15679400,2023,Knock at the Cabin,"['Horror', 'Thriller', 'Mystery']","['Blinding Edge Pictures', 'Universal Pictures...",M. Night Shyamalan,"[Dave Bautista, Jonathan Groff, Ben Aldridge, ...",20000000,54708659,6.38,Dave Bautista,Jonathan Groff
4789,4789,tt10098448,2023,Jesus Revolution,"['Drama', 'History']","['Lionsgate', 'Kingdom Story Company']",Brent McCorkle,"[Joel Courtney, Kelsey Grammer, Jonathan Roumi...",15000000,52300000,7.13,Joel Courtney,Kelsey Grammer
4790,4790,tt5884796,2023,Plane,"['Action', 'Adventure', 'Thriller']","['MadRiver Pictures', 'di Bonaventura Pictures...",Jean-Fran√ßois Richet,"[Gerard Butler, Mike Colter, Yoson An, Tony Go...",25000000,51000000,6.89,Gerard Butler,Mike Colter
4791,4791,tt0439572,2023,The Flash,"['Science Fiction', 'Action', 'Adventure']","['Warner Bros. Pictures', 'Double Dream', 'The...",Andy Muschietti,"[Ezra Miller, Sasha Calle, Michael Keaton, Mic...",190000000,245000000,6.69,Ezra Miller,Sasha Calle

In [31]:
df.to_csv('actors.csv',sep=';', index=False)

In [32]:
df['genres'] = df['genres'].apply(ast.literal_eval)

df['Genre 1'] = df['genres'].apply(lambda x: x[0] if len(x) > 0 else None)
df['Genre 2'] = df['genres'].apply(lambda x: x[1] if len(x) > 1 else None)
df['Genre 3'] = df['genres'].apply(lambda x: x[2] if len(x) > 2 else None)

In [34]:
df.to_csv('genres.csv',sep=';', index=False)

In [35]:
df['productioncompanies'] = df['productioncompanies'].apply(ast.literal_eval)

# create new columns for the first three production companies
df['Production Company 1'] = df['productioncompanies'].apply(lambda x: x[0] if len(x) > 0 else None)
df['Production Company 2'] = df['productioncompanies'].apply(lambda x: x[1] if len(x) > 1 else None)
df['Production Company 3'] = df['productioncompanies'].apply(lambda x: x[2] if len(x) > 2 else None)

In [36]:
df.to_csv('production.csv',sep=';', index=False)